* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
}

.header-container {
  background-color: #cbd5e1;

  display: flex;
  align-items: center;
  padding: 15px 70px;
}

.website-logo {
  width: 150px;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f1f5f9;
  padding: 25px 70px;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.projects-list {
  align-self: flex-start;
  width: 100%;
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.style-select {
  align-self: flex-start;
  width: 50%;
  color: #475569;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #475569;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.style-option {
  color: #475569;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  width: 100%;
}

.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.failure-image {
  width: 300px;
}

.failure-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
}

.failure-para {
  color: #475569;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}

.failure-button {
  color: #475569;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  background-color: #328af2;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
}
